[slug='tutorial'] img {
  max-height: 20em;
  display: block;
  margin: 0 auto;
}

img[alt='globe example1']{
  max-height: 20em;
  float: right;
}

.Home .examples img:first-child {
  max-height: 16em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

strong::before { 
  font-weight: bold;
  content: '\A';
  white-space: pre;
}
